FinalProject/Connected Services/ServiceReference3/CreditC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cardNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="expired" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cvv" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCardResponse">
        <s:complexType />
      </s:element>
      <s:element name="IsCardExists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cardNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="expired" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cvv" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsCardExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsCardExistsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsAddable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cardNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsAddableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsAddableResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="hiuv">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cardNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="expierd" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cvv" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="hiuvResponse">
        <s:complexType />
      </s:element>
      <s:element name="cancel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cardNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="expierd" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cvv" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cancelResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="AddCardSoapIn">
    <wsdl:part name="parameters" element="tns:AddCard" />
  </wsdl:message>
  <wsdl:message name="AddCardSoapOut">
    <wsdl:part name="parameters" element="tns:AddCardResponse" />
  </wsdl:message>
  <wsdl:message name="IsCardExistsSoapIn">
    <wsdl:part name="parameters" element="tns:IsCardExists" />
  </wsdl:message>
  <wsdl:message name="IsCardExistsSoapOut">
    <wsdl:part name="parameters" element="tns:IsCardExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IsAddableSoapIn">
    <wsdl:part name="parameters" element="tns:IsAddable" />
  </wsdl:message>
  <wsdl:message name="IsAddableSoapOut">
    <wsdl:part name="parameters" element="tns:IsAddableResponse" />
  </wsdl:message>
  <wsdl:message name="hiuvSoapIn">
    <wsdl:part name="parameters" element="tns:hiuv" />
  </wsdl:message>
  <wsdl:message name="hiuvSoapOut">
    <wsdl:part name="parameters" element="tns:hiuvResponse" />
  </wsdl:message>
  <wsdl:message name="cancelSoapIn">
    <wsdl:part name="parameters" element="tns:cancel" />
  </wsdl:message>
  <wsdl:message name="cancelSoapOut">
    <wsdl:part name="parameters" element="tns:cancelResponse" />
  </wsdl:message>
  <wsdl:portType name="CreditCSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddCard">
      <wsdl:input message="tns:AddCardSoapIn" />
      <wsdl:output message="tns:AddCardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsCardExists">
      <wsdl:input message="tns:IsCardExistsSoapIn" />
      <wsdl:output message="tns:IsCardExistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsAddable">
      <wsdl:input message="tns:IsAddableSoapIn" />
      <wsdl:output message="tns:IsAddableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="hiuv">
      <wsdl:input message="tns:hiuvSoapIn" />
      <wsdl:output message="tns:hiuvSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cancel">
      <wsdl:input message="tns:cancelSoapIn" />
      <wsdl:output message="tns:cancelSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreditCSoap" type="tns:CreditCSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCard">
      <soap:operation soapAction="http://tempuri.org/AddCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsCardExists">
      <soap:operation soapAction="http://tempuri.org/IsCardExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAddable">
      <soap:operation soapAction="http://tempuri.org/IsAddable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hiuv">
      <soap:operation soapAction="http://tempuri.org/hiuv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancel">
      <soap:operation soapAction="http://tempuri.org/cancel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CreditCSoap12" type="tns:CreditCSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCard">
      <soap12:operation soapAction="http://tempuri.org/AddCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsCardExists">
      <soap12:operation soapAction="http://tempuri.org/IsCardExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAddable">
      <soap12:operation soapAction="http://tempuri.org/IsAddable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hiuv">
      <soap12:operation soapAction="http://tempuri.org/hiuv" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancel">
      <soap12:operation soapAction="http://tempuri.org/cancel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreditC">
    <wsdl:port name="CreditCSoap" binding="tns:CreditCSoap">
      <soap:address location="http://localhost:57512/CreditC.asmx" />
    </wsdl:port>
    <wsdl:port name="CreditCSoap12" binding="tns:CreditCSoap12">
      <soap12:address location="http://localhost:57512/CreditC.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>