FinalProject/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="IsUserExists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsUserExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsUserExistsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogInHit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Time" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogInHitResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserResult" type="tns:Users" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Users">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAllUsers">
        <s:complexType />
      </s:element>
      <s:element name="GetAllUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllUsersResult" type="tns:ArrayOfUsers" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUsers">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Users" nillable="true" type="tns:Users" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddColor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="color" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="logInHisId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddColorResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetLastHisId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastHisIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLastHisIdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllColors">
        <s:complexType />
      </s:element>
      <s:element name="GetAllColorsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllColorsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertFirstScores">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertFirstScoresResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertScore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="score" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="record" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertScoreResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateScore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="score" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="record" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateScoreResponse">
        <s:complexType />
      </s:element>
      <s:element name="IsScoreExists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsScoreExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsScoreExistsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetRecordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastScoreId">
        <s:complexType />
      </s:element>
      <s:element name="GetLastScoreIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLastScoreIdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertStrikes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="strikeNum" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="scoreId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertStrikesResponse">
        <s:complexType />
      </s:element>
      <s:element name="TopScore">
        <s:complexType />
      </s:element>
      <s:element name="TopScoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TopScoreResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TopGames">
        <s:complexType />
      </s:element>
      <s:element name="TopGamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TopGamesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LeastStrikes">
        <s:complexType />
      </s:element>
      <s:element name="LeastStrikesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LeastStrikesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScores">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScoresResult" type="tns:ArrayOfScores" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfScores">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Scores" nillable="true" type="tns:Scores" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Scores">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="scoreId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="score" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="record" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetLogInHis">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLogInHisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLogInHisResult" type="tns:ArrayOfLogInHis" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLogInHis">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LogInHis" nillable="true" type="tns:LogInHis" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LogInHis">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="logInHisId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="time" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetStrikes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStrikesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStrikesResult" type="tns:ArrayOfStrikes" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStrikes">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Strikes" nillable="true" type="tns:Strikes" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Strikes">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="strikeId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="strikeNum" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="scoreId" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapIn">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IsUserExistsSoapIn">
    <wsdl:part name="parameters" element="tns:IsUserExists" />
  </wsdl:message>
  <wsdl:message name="IsUserExistsSoapOut">
    <wsdl:part name="parameters" element="tns:IsUserExistsResponse" />
  </wsdl:message>
  <wsdl:message name="LogInHitSoapIn">
    <wsdl:part name="parameters" element="tns:LogInHit" />
  </wsdl:message>
  <wsdl:message name="LogInHitSoapOut">
    <wsdl:part name="parameters" element="tns:LogInHitResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="GetUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="GetAllUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="AddColorSoapIn">
    <wsdl:part name="parameters" element="tns:AddColor" />
  </wsdl:message>
  <wsdl:message name="AddColorSoapOut">
    <wsdl:part name="parameters" element="tns:AddColorResponse" />
  </wsdl:message>
  <wsdl:message name="GetLastHisIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetLastHisId" />
  </wsdl:message>
  <wsdl:message name="GetLastHisIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetLastHisIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllColorsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllColors" />
  </wsdl:message>
  <wsdl:message name="GetAllColorsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllColorsResponse" />
  </wsdl:message>
  <wsdl:message name="InsertFirstScoresSoapIn">
    <wsdl:part name="parameters" element="tns:InsertFirstScores" />
  </wsdl:message>
  <wsdl:message name="InsertFirstScoresSoapOut">
    <wsdl:part name="parameters" element="tns:InsertFirstScoresResponse" />
  </wsdl:message>
  <wsdl:message name="InsertScoreSoapIn">
    <wsdl:part name="parameters" element="tns:InsertScore" />
  </wsdl:message>
  <wsdl:message name="InsertScoreSoapOut">
    <wsdl:part name="parameters" element="tns:InsertScoreResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateScoreSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateScore" />
  </wsdl:message>
  <wsdl:message name="UpdateScoreSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateScoreResponse" />
  </wsdl:message>
  <wsdl:message name="IsScoreExistsSoapIn">
    <wsdl:part name="parameters" element="tns:IsScoreExists" />
  </wsdl:message>
  <wsdl:message name="IsScoreExistsSoapOut">
    <wsdl:part name="parameters" element="tns:IsScoreExistsResponse" />
  </wsdl:message>
  <wsdl:message name="GetRecordSoapIn">
    <wsdl:part name="parameters" element="tns:GetRecord" />
  </wsdl:message>
  <wsdl:message name="GetRecordSoapOut">
    <wsdl:part name="parameters" element="tns:GetRecordResponse" />
  </wsdl:message>
  <wsdl:message name="GetLastScoreIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetLastScoreId" />
  </wsdl:message>
  <wsdl:message name="GetLastScoreIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetLastScoreIdResponse" />
  </wsdl:message>
  <wsdl:message name="InsertStrikesSoapIn">
    <wsdl:part name="parameters" element="tns:InsertStrikes" />
  </wsdl:message>
  <wsdl:message name="InsertStrikesSoapOut">
    <wsdl:part name="parameters" element="tns:InsertStrikesResponse" />
  </wsdl:message>
  <wsdl:message name="TopScoreSoapIn">
    <wsdl:part name="parameters" element="tns:TopScore" />
  </wsdl:message>
  <wsdl:message name="TopScoreSoapOut">
    <wsdl:part name="parameters" element="tns:TopScoreResponse" />
  </wsdl:message>
  <wsdl:message name="TopGamesSoapIn">
    <wsdl:part name="parameters" element="tns:TopGames" />
  </wsdl:message>
  <wsdl:message name="TopGamesSoapOut">
    <wsdl:part name="parameters" element="tns:TopGamesResponse" />
  </wsdl:message>
  <wsdl:message name="LeastStrikesSoapIn">
    <wsdl:part name="parameters" element="tns:LeastStrikes" />
  </wsdl:message>
  <wsdl:message name="LeastStrikesSoapOut">
    <wsdl:part name="parameters" element="tns:LeastStrikesResponse" />
  </wsdl:message>
  <wsdl:message name="GetScoresSoapIn">
    <wsdl:part name="parameters" element="tns:GetScores" />
  </wsdl:message>
  <wsdl:message name="GetScoresSoapOut">
    <wsdl:part name="parameters" element="tns:GetScoresResponse" />
  </wsdl:message>
  <wsdl:message name="GetLogInHisSoapIn">
    <wsdl:part name="parameters" element="tns:GetLogInHis" />
  </wsdl:message>
  <wsdl:message name="GetLogInHisSoapOut">
    <wsdl:part name="parameters" element="tns:GetLogInHisResponse" />
  </wsdl:message>
  <wsdl:message name="GetStrikesSoapIn">
    <wsdl:part name="parameters" element="tns:GetStrikes" />
  </wsdl:message>
  <wsdl:message name="GetStrikesSoapOut">
    <wsdl:part name="parameters" element="tns:GetStrikesResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input message="tns:AddUserSoapIn" />
      <wsdl:output message="tns:AddUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsUserExists">
      <wsdl:input message="tns:IsUserExistsSoapIn" />
      <wsdl:output message="tns:IsUserExistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogInHit">
      <wsdl:input message="tns:LogInHitSoapIn" />
      <wsdl:output message="tns:LogInHitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input message="tns:GetUserSoapIn" />
      <wsdl:output message="tns:GetUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input message="tns:UpdateUserSoapIn" />
      <wsdl:output message="tns:UpdateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input message="tns:GetAllUsersSoapIn" />
      <wsdl:output message="tns:GetAllUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddColor">
      <wsdl:input message="tns:AddColorSoapIn" />
      <wsdl:output message="tns:AddColorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLastHisId">
      <wsdl:input message="tns:GetLastHisIdSoapIn" />
      <wsdl:output message="tns:GetLastHisIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllColors">
      <wsdl:input message="tns:GetAllColorsSoapIn" />
      <wsdl:output message="tns:GetAllColorsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertFirstScores">
      <wsdl:input message="tns:InsertFirstScoresSoapIn" />
      <wsdl:output message="tns:InsertFirstScoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertScore">
      <wsdl:input message="tns:InsertScoreSoapIn" />
      <wsdl:output message="tns:InsertScoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateScore">
      <wsdl:input message="tns:UpdateScoreSoapIn" />
      <wsdl:output message="tns:UpdateScoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsScoreExists">
      <wsdl:input message="tns:IsScoreExistsSoapIn" />
      <wsdl:output message="tns:IsScoreExistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRecord">
      <wsdl:input message="tns:GetRecordSoapIn" />
      <wsdl:output message="tns:GetRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLastScoreId">
      <wsdl:input message="tns:GetLastScoreIdSoapIn" />
      <wsdl:output message="tns:GetLastScoreIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertStrikes">
      <wsdl:input message="tns:InsertStrikesSoapIn" />
      <wsdl:output message="tns:InsertStrikesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TopScore">
      <wsdl:input message="tns:TopScoreSoapIn" />
      <wsdl:output message="tns:TopScoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TopGames">
      <wsdl:input message="tns:TopGamesSoapIn" />
      <wsdl:output message="tns:TopGamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LeastStrikes">
      <wsdl:input message="tns:LeastStrikesSoapIn" />
      <wsdl:output message="tns:LeastStrikesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScores">
      <wsdl:input message="tns:GetScoresSoapIn" />
      <wsdl:output message="tns:GetScoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLogInHis">
      <wsdl:input message="tns:GetLogInHisSoapIn" />
      <wsdl:output message="tns:GetLogInHisSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStrikes">
      <wsdl:input message="tns:GetStrikesSoapIn" />
      <wsdl:output message="tns:GetStrikesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserExists">
      <soap:operation soapAction="http://tempuri.org/IsUserExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogInHit">
      <soap:operation soapAction="http://tempuri.org/LogInHit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddColor">
      <soap:operation soapAction="http://tempuri.org/AddColor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastHisId">
      <soap:operation soapAction="http://tempuri.org/GetLastHisId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllColors">
      <soap:operation soapAction="http://tempuri.org/GetAllColors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertFirstScores">
      <soap:operation soapAction="http://tempuri.org/InsertFirstScores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertScore">
      <soap:operation soapAction="http://tempuri.org/InsertScore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateScore">
      <soap:operation soapAction="http://tempuri.org/UpdateScore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsScoreExists">
      <soap:operation soapAction="http://tempuri.org/IsScoreExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecord">
      <soap:operation soapAction="http://tempuri.org/GetRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastScoreId">
      <soap:operation soapAction="http://tempuri.org/GetLastScoreId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertStrikes">
      <soap:operation soapAction="http://tempuri.org/InsertStrikes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TopScore">
      <soap:operation soapAction="http://tempuri.org/TopScore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TopGames">
      <soap:operation soapAction="http://tempuri.org/TopGames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeastStrikes">
      <soap:operation soapAction="http://tempuri.org/LeastStrikes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScores">
      <soap:operation soapAction="http://tempuri.org/GetScores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogInHis">
      <soap:operation soapAction="http://tempuri.org/GetLogInHis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStrikes">
      <soap:operation soapAction="http://tempuri.org/GetStrikes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap12:operation soapAction="http://tempuri.org/AddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserExists">
      <soap12:operation soapAction="http://tempuri.org/IsUserExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogInHit">
      <soap12:operation soapAction="http://tempuri.org/LogInHit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap12:operation soapAction="http://tempuri.org/GetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap12:operation soapAction="http://tempuri.org/UpdateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap12:operation soapAction="http://tempuri.org/GetAllUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddColor">
      <soap12:operation soapAction="http://tempuri.org/AddColor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastHisId">
      <soap12:operation soapAction="http://tempuri.org/GetLastHisId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllColors">
      <soap12:operation soapAction="http://tempuri.org/GetAllColors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertFirstScores">
      <soap12:operation soapAction="http://tempuri.org/InsertFirstScores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertScore">
      <soap12:operation soapAction="http://tempuri.org/InsertScore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateScore">
      <soap12:operation soapAction="http://tempuri.org/UpdateScore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsScoreExists">
      <soap12:operation soapAction="http://tempuri.org/IsScoreExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecord">
      <soap12:operation soapAction="http://tempuri.org/GetRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastScoreId">
      <soap12:operation soapAction="http://tempuri.org/GetLastScoreId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertStrikes">
      <soap12:operation soapAction="http://tempuri.org/InsertStrikes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TopScore">
      <soap12:operation soapAction="http://tempuri.org/TopScore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TopGames">
      <soap12:operation soapAction="http://tempuri.org/TopGames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeastStrikes">
      <soap12:operation soapAction="http://tempuri.org/LeastStrikes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScores">
      <soap12:operation soapAction="http://tempuri.org/GetScores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogInHis">
      <soap12:operation soapAction="http://tempuri.org/GetLogInHis" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStrikes">
      <soap12:operation soapAction="http://tempuri.org/GetStrikes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:49721/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:49721/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>